<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css')}}">
<div class="container">
  <div class="package-table">
    <table>
      <tr>
        <td>Item Name</td>
        <td>Location</td>
        <td>Date and Time</td>
        <td>Status</td>
        <td></td>
      </tr>
      {% for entry in entries %}
        <tr>
          <td>{{entry['name']}}</td>
          <td>{{entry['last_location']}}</td>
          <td>{{entry['last_checkin']}}</td>
          <td>{{entry['status']}}</td>
          <td><div class="remove-button" data-id={{entry['number']}}>Remove</div></td>
        </tr>
      {% endfor %}
      <script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
    </table>
  </div>
</div>
